input {
  width: 100%;
  font-size: 14px;
  line-height: 2.5;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 5px;
  border: 1px solid #ced4da;
  color: $light-dark;
  padding: 6px 8px;
  transition: border-color 0.2s;
}

.btn {
  width: 100%;
  line-height: 2.5;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.btn-warning {
  border-color: $red-pink !important;
  background-color: $red-pink !important;
  color: #ffffff !important;
}