.result-tile {
  padding-top: 8px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;

  &::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
  }

  .image {
    display: inline-block;
    height: 157px;
    width: 240px;
    vertical-align: middle;
    background-color: lightpink;
    opacity: 0.6;
    text-align: center;
  }

  .house-info {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;

    .title {
      margin-bottom: 20px;
      font-weight: bold;
    }

    .destination, .distance, .transportation, .gas-station {
      margin-bottom: 10px;
      font-size: 12px;
      font-weight: 300;
    }
  }

  .price-details {
    display: inline-block;
    vertical-align: middle;
    width: 19%;
    text-align: right;

    .price {
      font-size: 18px;
      color: #ff5a5f;
      margin-bottom: 20px;
    }

    .detail-btn  {
      button{
        font-size: 14px;
        line-height: 2.5;
        width: 100px;
        border-radius: 4px;
        padding: 2px 4px;
        color: #fff;
        font-weight: bold;
        background-color: #ff5a5f;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
      }
    }

    .favorite-btn  {
      margin-top: 40px;

      button {
        font-size: 14px;
        visibility: hidden;
        border: 1px solid #ccc;
        width: 100px;
        line-height: 1.5;
        border-radius: 50px;
        cursor: pointer;
      }

      &:hover {
        button {
          visibility: visible;
        }
      }
    }
  }
}
