.container {
  max-width: 800px;
  margin: auto;
  border: 1px solid black;

  .comment {
    position: absolute;
    width: 7em;
    margin-left: -9.5em;
    margin-top: -5em;
    background-color: #dcf0ff;
    padding: 6px;
    border-radius: 1px;

    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border: 0.5em solid #dcf0ff;
      border-bottom-color: transparent;
      border-right-color: transparent;
      right: -1em;
      top: 0.5em;
    }
  }

  figure {
    background-color: #eee;
    width: 6em;
    height: 5em;
    margin: 0;
    padding: 1em;
    float: right;
    max-width: 17em;
    margin-right: -3em;
    margin-left: 1em;
  }

}